<div class="userlist-container">
  <input
    type="text"
    [placeholder]="'Texts.Components.Userlist.SearchUsers' | translate"
    [(ngModel)]="searchTerm"
  />

  <!-- Admins Table -->
  <div class="admin-users scrollable-table">
    <h4>{{ 'Texts.Pages.Overseer.AdminList' | translate }}</h4>
    <p *ngIf="errorMessage">{{ errorMessage | translate }}</p>
    <table>
      <thead>
        <tr>
          <th>{{ 'Texts.Components.Userlist.Table.ID' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.Username' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.Email' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.CreationDate' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.UpdatedAt' | translate }}</th>
          <th *ngIf="isRootAdmin()">{{ 'Texts.Components.Userlist.Table.Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredAdmins()">
          <td>{{ user.user_Id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.acc_CR_D | date:'short' }}</td>
          <td>{{ user.acc_UP_D | date:'short' }}</td>
          <td *ngIf="isRootAdmin()">
            <button (click)="toggleAdminState(user.user_Id)">
              {{ 'Buttons.Demote' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Load Button -->
  <div *ngIf="!usersLoaded" class="load-users-wrapper">
    <button (click)="loadRegularUsers()">
      {{ 'Buttons.LoadRegularUsers' | translate }}
    </button>
  </div>

  <!-- Regular Users Table -->
  <div class="regular-users scrollable-table" *ngIf="usersLoaded">
    <h4>{{ 'Texts.Pages.Overseer.UserList' | translate }}</h4>
    <table>
      <thead>
        <tr>
          <th>{{ 'Texts.Components.Userlist.Table.ID' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.Username' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.Email' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.CreationDate' | translate }}</th>
          <th>{{ 'Texts.Components.Userlist.Table.UpdatedAt' | translate }}</th>
          <th *ngIf="isRootAdmin() || isAdmin()">
            {{ 'Texts.Components.Userlist.Table.Actions' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredRegularUsers()">
          <td>{{ user.user_Id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.acc_CR_D | date:'short' }}</td>
          <td>{{ user.acc_UP_D | date:'short' }}</td>
          <td *ngIf="isRootAdmin() || isAdmin()">
            <div class="action-buttons">
              <button *ngIf="isRootAdmin()" (click)="deleteUser(user.user_Id)">
                {{ 'Buttons.Delete' | translate }}
              </button>
              <button *ngIf="isRootAdmin()" (click)="toggleAdminState(user.user_Id)">
                {{ 'Buttons.Promote' | translate }}
              </button>
              <button *ngIf="isAdmin()" (click)="inspectUser(user.user_Id)">
                {{ 'Buttons.Inspect' | translate }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
