.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.entryPage-buttons{
  display: flex;
  gap: 1rem;
}

.entry h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}