.task-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5s ease-out;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.4;
  }  