<div class="task-item" [style.background]="task.color || 'transparent'"
  [ngClass]="{
    'completed': task.task_Status,
    'priority-high': task.task_Priority === 'high',
    'priority-medium': task.task_Priority === 'medium',
    'priority-low': task.task_Priority === 'low'
    }">
  <h4 [class.task-completed]="task.task_Status">{{task.task_Title}}</h4>
  <p *ngIf="task.task_Description">{{task.task_Description}}</p>
  <p>Priority: {{task.task_Priority}}</p>
  <p *ngIf="task.due_Date">Due Date: {{task.due_Date | date: 'dd/MM/yyyy'}}</p>
  <p>Created: {{task.creation_Date| date:'short'}}</p>
  <p>Updated at: {{task.update_Date| date:'short'}}</p>
  <div class="task-buttons">
    <button (click)="completionToggle()" [title]="'Buttons.ToggleCompletion' | translate">
      <span class="material-icons">check_circle</span>
    </button>
    <button (click)="edit()" [title]="'Buttons.EditTask' | translate">
      <span class="material-icons">edit</span>
    </button>
    <button (click)="delete()" [title]="'Buttons.DeleteTask' | translate">
      <span class="material-icons">delete</span>
    </button>
  </div>
</div>