<button class="tasklist-toggle" (click)="toggleTaskListsVisibility()" title="{{ showTaskLists ? 'Hide homepage content' : 'Show homepage content' }}">
  <span class="material-icons">
    {{ showTaskLists ? 'visibility_off' : 'visibility' }}
  </span>
</button>

<div class="homepage">
  <div class="user-greeting">
    <h2>Welcome, {{currentUsername}} :D</h2>
  </div>
  <div *ngIf="hasTasksDue4Today" class="task-alert">
    <p>You have task(s) due today!</p>
  </div>
  <div *ngIf="hasExpiredTasks" class="task-alert">
    <p>You have expired task(s)!</p>
  </div>

  
  <h1>{{'Texts.Pages.Homepage.Title' | translate}}</h1>
  <h4>{{'Texts.Pages.Homepage.YourTaskLists' | translate}}</h4>

  <app-task-list (taskListGotUpdate)="check4TasksDueToday()" *ngIf="showTaskLists"></app-task-list>
</div>