<button
  class="tasklist-toggle"
  (click)="toggleTaskListsVisibility()"
  title="{{
    showHomepageContent ? 'Hide homepage content' : 'Show homepage content'
  }}"
>
  <span class="material-icons">
    {{ showHomepageContent ? "visibility_off" : "visibility" }}
  </span>
</button>

<div class="homepage" *ngIf="showHomepageContent">
  <div class="user-greeting">
    <h2>Welcome, {{ currentUsername }} :D</h2>
  </div>
  <div *ngIf="hasTasksDue4Today" class="task-alert">
    <p>{{ 'Texts.Messages.TaskDueToday' | translate }}</p>
  </div>
  <div *ngIf="hasExpiredTasks" class="task-alert">
    <p>{{ 'Texts.Messages.TaskExpired' | translate }}</p>
  </div>

  <h1>{{ "Texts.Pages.Homepage.Title" | translate }}</h1>
  <h4>{{ "Texts.Pages.Homepage.YourTaskLists" | translate }}</h4>

  <app-task-list (taskListGotUpdate)="check4TasksDueToday()"></app-task-list>
</div>
