<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
  <h1>Register</h1>

  <div class="form-field">
    <label for="registration-username">Username</label>
    <input id="registration-username"
           formControlName="username"
           type="text"
           maxlength="50"
           placeholder="Min 6 characters"
    />
  </div>
  
  <div class="form-field">
    <label for="registration-email">Email</label>
    <input id="registration-email"
           formControlName="email"
           type="email"
           placeholder="e.g.: user@example.com"
    />
  </div>
  
  <div class="form-field">
    <label for="registration-password">Password</label>
    <input id="registration-password"
           formControlName="password"
           type="password"
           placeholder="Min 8 chars, 1 uppercase, 1 number"
    />
  </div>
  
  <div class="form-field">
    <label for="registration-confirmPassword">Confirm Password</label>
    <input id="registration-confirmPassword"
           formControlName="confirmPassword"
           type="password"
           placeholder="Repeat password"
    />
  </div>
  

  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form>
