.registration-module{
    /*display: none;*/
    text-align: center;
}
.registration-form{
    text-justify: auto;
}
.username-div{
    margin:auto;

}
.email-div{
    margin:auto;

}
.password-div{
    margin:auto;

}
.buttons{

    border-radius: 5px;
}