<form class="register-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="username-div">
      <label for="userName">Username:</label>
      <input id="userName" formControlName="userName" />
    </div>
  
    <div class="email-div">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
    </div>
  
    <div class="password-div">
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" />
    </div>
  
    <button class="buttons" type="submit" [disabled]="registrationForm.invalid">Register</button>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
  