.registration-module{

}
.personal-data{
    text-align: end;
}
.registration-form{
}
.username-div{
}
.email-div{
}
.password-div{
}
.buttons{
    display: flex;
    border-radius: 5px;
}
div{
    margin-top: 5px;
    justify-content: space-evenly;
}
