<div class="taskdialog-container">
  <form (ngSubmit)="onSave()">

    <label for="taskTitle">{{ 'Texts.Components.TaskItem.Title' | translate }}</label>
    <input id="taskTitle" type="text" [(ngModel)]="localTask.task_Title" name="title" required maxlength="50" />
    <small class="character-count">
      {{ 'Texts.Components.TaskItem.CharactersLeft' | translate:{count: 50 - (localTask.task_Title.length || 0)} }}
    </small>

    <label for="taskDesc">{{ 'Texts.Components.TaskItem.Description' | translate }}</label>
    <textarea id="taskDesc" [(ngModel)]="localTask.task_Description" name="description" maxlength="300"></textarea>
    <small class="character-count">
      {{ 'Texts.Components.TaskItem.CharactersLeft' | translate:{count: 300 - (localTask.task_Description?.length || 0)} }}
    </small>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'Texts.Components.TaskItem.DueDate' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="localTask.due_Date"
        name="dueDate"
        placeholder="MM-DD-YYYY"
        autocomplete="off"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label for="priority">{{ 'Texts.Components.TaskItem.Priority' | translate }}</label>
    <select id="priority" [(ngModel)]="localTask.task_Priority" name="priority" required>
      <option value="low">{{ 'Texts.Components.TaskItem.Low' | translate }}</option>
      <option value="medium">{{ 'Texts.Components.TaskItem.Medium' | translate }}</option>
      <option value="high">{{ 'Texts.Components.TaskItem.High' | translate }}</option>
    </select>

    <div class="color-field-wrapper">
      <label for="color">{{ 'Texts.Components.TaskItem.Color' | translate }}</label>
      <input id="color" type="color" [(ngModel)]="localTask.color" name="color" />
    </div>

    <button type="submit">{{ 'Buttons.Save' | translate }}</button>
    <button type="button" (click)="onCancel()">{{ 'Buttons.Cancel' | translate }}</button>
  </form>
</div>
