<div class="taskdialog-container">
  <form (ngSubmit)="onSave()">
    
    <label for="taskTitle">Title:</label>
    <input id="taskTitle" type="text" [(ngModel)]="localTask.task_Title" name="title" required maxlength="50" />
    <small class="character-count">
      {{50 - (localTask.task_Title.length || 0)}} characters left
    </small>

    <label for="taskDesc">Description:</label>
    <textarea id="taskDesc" [(ngModel)]="localTask.task_Description" name="description" maxlength="300"></textarea>
    <small class="character-count">
      {{200 - (localTask.task_Description?.length || 0)}} characters left
    </small>

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="localTask.due_Date"
        name="dueDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label for="priority">Priority:</label>
    <select id="priority" [(ngModel)]="localTask.task_Priority" name="priority" required>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>

    <div class="color-field-wrapper">
      <label for="color">Color:</label>
      <input id="color" type="color" [(ngModel)]="localTask.color" name="color" />
    </div>

    <button type="submit">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
